
<h1> Player_1: <%= @game.players[0].name  %> HP: <%= @game.players[0].hp  %>
</h1>

<h1> Player_2: <%=@game.players[1].name %> HP: <%= @game.players[1].hp %>
<h2> It's <%= @game.current_player.name %>s turn<h2>
<a href="/player_2_attack">Attack</a>

<h1> <%= @game.losing_message %> </h1>

